
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myConfigurationLabel" translate="miaApp.containerconfiguration.home.createOrEditLabel">Create or edit a Configuration</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        
        <div class="form-group">
            <label class="control-label" translate="miaApp.containerconfiguration.configurationIdentifier" for="field_configurationIdentifier">ConfigurationIdentifier</label>
            <!-- type="number" min="49152" max="65535" -->
            <input 
            type="number"
            class="form-control" name="configurationIdentifier" id="field_configurationIdentifier"
                    ng-model="vm.configuration.configurationIdentifier"
                    min="0" 
                    max="65534"
                    required
                    integer />
            <div ng-show="editForm.configurationIdentifier.$invalid">
                <p class="help-block"
                    ng-show="editForm.configurationIdentifier.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
            
             <p class="help-block"
                    ng-show="editForm.configurationIdentifier.$error.integer 
                        || editForm.configurationIdentifier.$error.min
                        || editForm.configurationIdentifier.$error.max" 
                    translate="miaApp.containerconfiguration.invalidport">
                    Not valid number!
                </p>
         </div>
        
        <p>
        <div class="panel panel-default">
            <div class="panel-heading" translate="miaApp.containerconfiguration.computations">Panel heading</div>
            <div class="well">
            <div class="operatorlist">
                
             <div class="form-group">
            <label translate="miaApp.containerconfiguration.computation" for="field_rtogs">Computation</label>
            <select class="form-control" id="field_computation" name="computation" ng-model="vm.selectedComputation"ng-options="computation as computation.computationIdentifier for computation in vm.computations"></select>
            </div>

					<ul ng-sortable="{animation:150}" class="list-group" ng-sortable>
						<li ng-repeat="computation in vm.configuration.computations track by $index" class="list-group-item">	
							<span class="glyphicon glyphicon glyphicon-trash pull-right" ng-click="vm.removeComputation($index)"></span>
							{{computation.computationIdentifier}}
						</li>
						
					</ul>

					<hr>
                <button type="button" class="btn btn-primary" ng-click="vm.addComputation()">
                <span class="glyphicon glyphicon-plus"></span>&nbsp;<span translate="miaApp.containerconfiguration.add">Add</span>
                </button>
            </div>
            </div>

    </div>    

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving || vm.selectedComputation == {}" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
