<div>
    <h2 translate="miaApp.containerconfiguration.home.title">Configurations</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="containerconfiguration.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  translate="miaApp.containerconfiguration.home.createLabel">
                        Create new Configuration
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="name"><span translate="miaApp.containerconfiguration.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="inputPort"><span translate="miaApp.containerconfiguration.inputPort">AE input port</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="outputPort"><span translate="miaApp.containerconfiguration.outputPort">AE output port</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th><span translate="miaApp.containerconfiguration.startstopScp">startstopScp</span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="configuration in vm.configurations track by configuration.id">
                    <td><a ui-sref="containerconfiguration-detail({id:configuration.id})">{{configuration.name}}</a></td>
                    <td>{{configuration.inputPort}}</td>
                    <td>{{configuration.outputPort}}</td>
                    <td>
                        <button ng-click="vm.stopScp(configuration.inputPort)"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-stop"></span>
                                <span class="hidden-xs hidden-sm" translate="miaApp.containerconfiguration.stop"></span>
                            </button>
                            <button ng-click="vm.startScp(configuration.userId , configuration.inputPort)"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-play"></span>
                                <span class="hidden-xs hidden-sm" translate="miaApp.containerconfiguration.start"></span>
                            </button>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="containerconfiguration-detail({id:configuration.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="containerconfiguration.edit({id:configuration.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="containerconfiguration.delete({id:configuration.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-xs hidden-sm" translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
