
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myComputationLabel" translate="miaApp.computation.home.createOrEditLabel">Create or edit a Computation</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label for="id" translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.computation.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" translate="miaApp.computation.computationIdentifier" for="field_computationIdentifier">ComputationIdentifier</label>
            <input type="text" class="form-control" name="computationIdentifier" id="field_computationIdentifier"
                    ng-model="vm.computation.computationIdentifier"
                    required />
            <div ng-show="editForm.computationIdentifier.$invalid">
                <p class="help-block"
                    ng-show="editForm.computationIdentifier.$error.required" translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" translate="miaApp.computation.moduleName" for="field_moduleName">ModuleName</label>
            <input type="text" class="form-control" name="moduleName" id="field_moduleName"
                    ng-model="vm.computation.moduleName"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" translate="miaApp.computation.computationConfiguration" for="field_computationConfiguration">ComputationConfiguration</label>
            <input type="text" class="form-control" name="computationConfiguration" id="field_computationConfiguration"
                    ng-model="vm.computation.computationConfiguration"
                     />
        </div>

        <div class="form-group">
            <label translate="miaApp.computation.volumeOfInterest" for="field_volumeOfInterest">volumeOfInterest</label>
            <select class="form-control" id="field_volumeOfInterest" name="volumeOfInterest" ng-model="vm.computation.volumeOfInterest" ng-options="volumeOfInterest as volumeOfInterest.name for volumeOfInterest in vm.volumeofinterests track by volumeOfInterest.id">
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
